
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    border-radius: 10px;
    padding: 25px 0px;
}

.contacto input,
textarea {
  color: black;
  font-size: medium;
  width: 90%;
  padding: 8px;
  background-color: #f8f9f9;
  outline: none;
  border: 1px solid #f8f9f9;
  margin-top: 10px;
}

.formulario-contacto li {
  margin: 10px 0px;
}


.btn-contacto {
padding: 8px;
  color: #565757;
  font-weight :600;
 cursor: pointer;
font-size: medium;
}


.contacto-titulo {
  font-size: xx-large;
}


@media (min-width: 800px) {
  .contact {
    position: relative;
      bottom: -300px;
     padding: 20px 0px;
     background-color: #0f2a5383;
  }
  .contacto {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .contacto {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .contacto {
    width: 45%;
  }
}