.contacto {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
     border: 1px solid #bdbfc2;
padding-bottom: 10px;
}

.contacto input,
textarea {
color: black;
font-size: medium;
width: 100%;
padding: 8px;
}

.formulario-contacto li {
margin: 10px 0px;
}

.formulario-contacto input,
textarea {
margin-top: 10px;
}

.btn-contacto {
padding: 8px;
  color: #565757;
font-weight: 550;
 cursor: pointer;
font-size: medium;
}