@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');


.flex-center-column {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #0A192F;
    padding: 10px 15px 10px 0px;
    height: 75px;
    align-items: center;
    background-color: rgb(10 25 47 / 0.8);
    backdrop-filter: blur(5px);
}

.icon-navbar {
  width: 26px;
}
.logo {
  margin: 0px 20px;  
  cursor: pointer;
}
.lista-navbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 25px;
    font-size: smaller;
    margin-right: 15px;
}

.lista-navbar li {
  cursor: pointer;
  padding: 5px;
}


.li-nav {
  transition: ease-out 0.6s;
  
}


.li-nav:hover {
  transition: ease-out 0.3s;
  transform: scale(1.12);
  filter: hue-rotate(30deg) brightness(500%);
}


.simbolo {
    font-size: medium;
    color: rgb(106, 252, 101) !important;
    font-weight: 600;
}

.redes-personal {
    margin: 0px 0px 10px 0px;
}

.img-idioma {
  width: 32px;
  cursor: pointer;
}




@media (min-width: 800px) {
  .lista-navbar {
    font-size: medium;
  }
  .simbolo {
    font-size: x-large;
  }
  .logo {
    font-size: xx-large;
  }
 }


/*

.geeks {
  left: 55%;
  top: 12%;
  position: absolute;
  width: 100px;
  text-align: center;
}
.geeks1 {
  left: 58%;
}
.geeks2 {
  left: 65%;
}
.geeks3 {
  left: 75%;
}

.geeks4{
  left: 85%;
}
.a {
  position: relative;
}


.geeks::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
}

.geeks:hover::before {
  animation: animate 1s linear forwards;
}


@keyframes animates {
  0% {
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: rgb(82, 82, 82);
  }

  50% {
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: rgb(82, 82, 82);
      border-left-color:rgb(82, 82, 82);;
  }

  100% {
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: rgb(82, 82, 82);
      border-left-color:rgb(82, 82, 82);
  }
}
*/