@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #0A192F;
    padding: 10px 15px 10px 0px;
    height: 70px;
    align-items: center;
}
.lista-navbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    font-size: smaller;
    margin-right: 15px;

}

.logo {
  margin: 0px 10px;
}


.simbolo {
    font-size: medium;
    color: rgb(106, 252, 101) !important;
    font-weight: 600;
}

.redes-personal {
    margin: 0px 0px 10px 0px;
}

.span-correo {
  display: flex;
  align-items: center;
  gap: 5px;
}
 
.img-idioma {
  width: 32px !important;
  cursor: pointer;
}

@keyframes dancing {
  25% {
    transform:translateY(20px) skew(-2deg);
  }
  0%, 50%, 100% {
    transform:translateY(0) skew(0);
  }
  75% {
    transform:translateY(20px) skew(2deg);
  }
}


@media (min-width: 800px) {
  .lista-navbar {
    font-size: medium;
  }
  .simbolo {
    font-size: x-large;
  }
  .logo {
    font-size: xx-large;
}

}
