.header-publicacion {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 5px;
    margin: 10px 0px;
}

.titulo-publicacion-trabajo {
    font-size: larger;
}

.div-iconos {
    display: flex;
    gap: 10px;
}
.hipervinculos-proyecto {
    width: 30px !important;
    height: 30px !important;
}

.tecnologias-utilizadas span {
    border: 1px solid rgb(212, 210, 205);
    border-radius: 10px;
    font-size: smaller;
    padding: 4px;
}

