
.publicacion-trabajo {
          margin: 15px 0px;
          border: 1px solid rgb(18, 45, 85);
         padding: 15px;
   border-radius: 5px;
background-color: #0D2242;
      transition: ease-out 0.5s;
          filter: opacity(0.7);
}


.div-img {
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
}
.img-post {
    width: 300px;
    height: 150px;
    transition: ease-out 0.5s;
}

.publicacion-contenido {
    margin: 0px 15px 0px 15px;
    background-color: #081529ba;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    width: 98%;
}

.header-publicacion {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 5px;

}

.titulo-publicacion-trabajo {
    font-size: larger;
}

.div-iconos {
    display: flex;
    gap: 10px;
}
.hipervinculos-proyecto {
    width: 30px;
    height: 30px;
}

.tecnologias-utilizadas span {
    border: 1px solid rgb(212, 210, 205);
    border-radius: 10px;
    font-size: smaller;
    padding: 4px;
}


.blog-vanilla {
    transition: ease-out 0.5s;
}

.tienda-react {
    transition: ease-out 0.5s;
}

.tienda-vanilla {
    transition: ease-out 0.5s;
}

.publicacion-trabajo:hover {
    transition: ease-out 0.5s;
    filter: opacity(0.9);
}

.publicacion-trabajo:hover .titulo-publicacion-trabajo{
    
    color: rgb(106, 252, 101);
}
.img-post:hover {
    transition: ease-out 0.5s;
    transform: scale(1.2);
    }
.blog-vanilla:hover {
    transition: ease-out 0.6s;
    transform: scale(1.3);
}

.tienda-react:hover {
    transition: ease-out 0.6s;
    transform: scale(1.4) translate(-6%, 1%);
}

.tienda-vanilla:hover {
    transition: ease-out 0.5s;
    transform: scale(1.3) translate(0%, -6%);
}

@media (min-width: 600px) { 
    .div-img {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
      }
      .img-post {
        width: 100%;
        height: auto;
      }
    }
    
@media (min-width: 850px) { 
    .publicacion-trabajo {
                    width: 90%;
                    display: grid;
    grid-template-columns: 1fr 3fr;
    }
    
    .section-trabajos {
        margin-top: 60px;
        position: relative;
        bottom: -300px;
    }
    .div-img {
        width: 330px;
        overflow: hidden;
      }
      .img-post {
        width: 330px;
        height: 175px;
      }
}

@media (min-width: 950px) { 
.div-img {
    width: 400px;
    overflow: hidden;
  }
  .img-post {
    width: 400px;
    height: 200px;
  }
}

