h3  {
    font-size: x-large;
}
.grid-tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
     margin: 0 auto;
    row-gap: 10px;
}

.div-tecnologia {
    padding: 30px;
    margin: 20px;
    box-shadow: 
        rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, 
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      width: 200px;
      border-radius: 5px;
   
  }

@keyframes dancing {
75% {
transform: translateY(20px) skew(-2deg);
}
0%, 50%, 100% {
transform: translateY(2) skew(0);
}
25% {
transform: translateY(20px) skew(2deg);
}
}
/*

.grid-tecnologias img:hover {
filter: opacity(0.8);
animation: dancing 0.75s ease 0.1s infinite;
}
*/

.img-tecnologias {
width: 80px;
}

.js {
width: 80px;
margin-bottom: 10px;

}
.html {
width: 72px;
height: 90px;

}
.css {
width: 72px;
height: 90px;
}

.js {
}

.pug {
width: 100px;
}
.bootstrap {
height: 69px;
width: 80px; 
margin-bottom: 10px;
}
.postgre {
height: 70px;
width: 70px; 
margin-bottom: 10px;
}

.node {
width: 120px;
}

.react {
width: 80px;
}

.mongo {
width: 85px;
}

.article-html {

}

.article-javascript {
    border-left : 4px solid #F0DC4E
    }
.article-html {

border-left : 4px solid #E34F26;
}
.article-css {
    border-left : 4px solid #488EC7;
}

.article-vite {
    border-left : 4px solid #B938FE;
}

.article-github {
    border-left : 4px solid #24292F;
}

.article-pug {
    border-left : 4px solid #EFCDA4;
}
.article-git {
    border-left : 4px solid #F05033;
}
    
.article-bootstrap {
    border-left : 4px solid #7110F5;
}
.article-postgre {
    border-left : 4px solid #488EC7;
}

.article-react {
    border-left : 4px solid #53C1DE
}

.article-mongo {
    border-left : 4px solid #6CAC48;
}

.article-node {
    border-left : 4px solid #599636
}

.div100 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    .grid-tecnologias {
        flex-direction: row;
    }

}

@media (min-width: 700px) {
    .grid-tecnologias {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

}