@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #C6D6F5;
    box-sizing: border-box;
}
body {
    background-color: #0A192F;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

 a {
    text-decoration: none;
    color: #d6d8d7;
}

.flex {
    display:flex
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}



h2 {
  font-size: larger;
}

.subtitulo {
    color: rgb(106, 252, 101) !important;
}

.tabout {
    margin: 30px 0px;
}
.texto-about {
    font-size: small;
    max-width: 250px;
}
.main-titulo {
    margin: 100px 0px 15px 0px;
}
.text-titulo {
    font-size: small;
    max-width: 250px;
    margin: 10px 0px;
    color: #C6D6F5;
    font-weight: 300;
}

/*** Seccion Proyectos ****/ 
.section-trabajos {
    margin-top: 30px;
 
}

.redes-personal {
    display: flex;
    align-items: end;
    gap: 20px;
}


.redes-personal img, footer img, .span-correo img{
    width: 30px !important;
    height: 100%;
    filter: hue-rotate(30deg) brightness(600%);
}
.github-main {
  
}

.correo-main {
    width: 45px !important;
}


.div-trabajos {
    gap: 10px;
    margin: 20px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.publicacion-trabajo {
    margin: 15px 0px;
    border: 1px solid rgb(18, 45, 85);
    padding: 10px;
    border-radius: 5px;
    background-color: #302e2e80;
}

.div-img {
    width: 300px;
    overflow:hidden;
}
.img-post {
    width: 300px;
    height: 150px;

}
.publicacion-contenido {
    margin: 0px 15px 0px 15px;
}

.publicacion-trabajo:hover {
    filter: opacity(.7);
}

/*** Seccion Teconologias Conocidas ***/
.section-tecnologias-conocidas {
    margin-bottom: 10px;
    width: 100%;
    
}

.section-tecnologias-conocidas h3, p {
    color:#0A192F;
    font-weight: 600;
}

.section-tecnologias  {
    margin: 10px 0px;
    background-color:  #F8F9F9;
    padding: 20px 0px;
 
}

.section-tecnologia{
    display: flex;
    gap: 10px;
}
.section-tecnologias img {
    width: 70px;
}

.section-tecnologias-aprender {
    margin: 20px 0px;

    background-color: #0A192F;
}

.section-tecnologias-aprender2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.titulo-tecnologias-aprender {
    margin: 0px 0px 15px 0px;
}


.titulo-tecnologias-conocidas {
    margin: 10px 0px 20px 0px;
}

.grid-tecnologias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    row-gap: 10px;
    width: 100%;
}



@keyframes dancing {
    75% {
        transform:translateY(20px) skew(-2deg);
    }
    0%, 50%, 100% {
        transform:translateY(2) skew(0);
    }
    25% {
        transform:translateY(20px) skew(2deg);
    }
}


.grid-tecnologias img:hover {
    filter: opacity(.8);
    animation:dancing .75s ease .1s infinite;
    
}
  
.html {
    height: 100px !important;
}
.css {
    height: 100px !important;
}

.git {
    width: 120px !important;
}

.pug {
    width: 114px !important;
}
.bootstrap {
    height: 69px !important;
    width: 80px !important;
}
.postgre {
    height: 70px !important;
    width: 70px !important;
}

.div100 {
    height: 100px  !important;
    display: flex  !important;
    align-items:end  !important;
}
.node {
    width: 120px !important;
}
.docker {
    width: 135px;
    height: 100%;
    margin-top: 10px;
}
.typescript {
    width: 100px;
    height: 100%;
    margin-top: 10px;
}

.section-especial {
    
}


.tailwind {
    width: 100px;
}

.span-tailwind{
    margin-top: 16px;
}

.next {
    width: 200px;
}


.section {
    gap: 40px;
    align-items: center;
}

.section-tecnologias-aprender2 {
    gap: 20px;
}

.tecnologias-utilizadas {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 10px 0px 0px 0px;
}




.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacto input, textarea {
    color: black;
    font-size: medium;
    width: 100%;
    padding: 8px;
  }

@media (min-width: 800px) {
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 4vw;
    }
    .text-titulo {
        max-width: 450px;
        font-size: medium;
    }
    .main-titulo {
        position: relative;
        bottom: -100px;
    }
    .section-about{
        position: relative;
        bottom: -300px;
    }
    .texto-about {
        font-size: medium; 
        max-width: 450px;
    }
    .sobre-mi {
        position: relative;
        bottom: -300px;
    }
    .publicacion-trabajo {
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 90%;
    }
    .section-trabajos {
        margin-top: 60px;
        position: relative;
        bottom: -300px;
    }

    .section-tecnologias-conocidas {
        position: relative;
        bottom: -300px;
    }

    .grid-tecnologias {
        width: 50%;
    }

    .section-tecnologias-aprender {
        position: relative;
        bottom: -300px;
        padding: 20px 0px;
    }
    .contacto {
        position: relative;
        bottom: -300px;
        padding: 20px 0px;
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #113263;
       
    }
    footer {
        position: relative;
        bottom: -320px;
    
    }
  }

  .formulario-contacto li {
    margin: 10px 0px;
  }

  .formulario-contacto input, textarea {
    margin-top: 10px;

  }

 .btn-contacto {
    padding: 8px;
    color: #565757;
    font-weight: 550;
    cursor: pointer;
    font-size: medium;
 }

 .redes-personal  {
   align-items: center;
   font-size: smaller;
   flex-wrap: wrap;
}

.span-correo {
    font-size: medium;
}

.redes-personal img {
    width: 35px;
    transition: ease-out 0.5s;
}
.span-correo img {
    width: 40px !important;
}


.redes-personal img:hover {
    transition: ease-out 0.5s;
    transform: scale(1.3);
    filter: contrast(40%) sepia(1) hue-rotate(190deg) saturate(1000%) !important;
    cursor: pointer;
}
 .linkedin-main:hover {
    filter: contrast(40%) sepia(1) hue-rotate(190deg) saturate(1000%) !important;
 }

 .github-main:hover {

 }

footer {
    padding: 20px 0px;
}