@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: #c6d6f5;
  box-sizing: border-box;
}
body {
  background-color: #0a192f;
}

a {
   text-decoration: none;
}


ul {
        list-style: none;
}
a {
   text-decoration: none;
             color: #d6d8d7;
}

.flex {
  display: flex;
}

.flex-center {
          display: flex;
  justify-content: center;
}

.flex-center-column {
          display: flex;
  justify-content: center;
      align-items: center;
   flex-direction: column;
}

.text-center {
       text-align: center;
}

.flex-between {
          display: flex;
  justify-content: space-between;
}

.flex-around {
          display: flex;
  justify-content: space-around;
      align-items: center;
}

.container {
   width: 80%;
  margin: 0 auto;
}

h2 {
  font-size: larger;
}

.subtitulo {
  color: rgb(106, 252, 101) !important;
}

.tabout {
  margin: 30px 0px;
}
.texto-about {
  font-size: small;
  max-width: 250px;
}
.main-titulo {
  margin: 100px 0px 15px 0px;
}
.text-titulo {
  font-size: small;
  max-width: 250px;
  margin: 10px 0px;
  color: #c6d6f5;
  font-weight: 300;
}

/*** Seccion Proyectos ****/
.section-trabajos {
  margin-top: 30px;
}

.redes-personal {
      display: flex;
  align-items: end;
          gap: 20px;
}

.redes-personal-img,
footer img {
   width: 30px;
  height: 100%;
  filter: hue-rotate(30deg) brightness(600%);
}

.redes-personal-img:hover {
  transition: ease-out 0.5s;
   transform: scale(1.3);
      filter: contrast(40%) sepia(1) hue-rotate(190deg) saturate(1000%);
      cursor: pointer;
}

.correo-main {
      width: 40px !important;
}
.github-main {
      width: 32px;
}

.div-trabajos {
             gap: 10px;
          margin: 20px 0px 60px 0px;
         display: flex;
  flex-direction: column;
     align-items: center;
}

.publicacion-trabajo {
            margin: 15px 0px;
            border: 1px solid rgb(18, 45, 85);
           padding: 10px;
     border-radius: 5px;
  background-color: #302e2e80;
}

.div-img {
     width: 300px;
  overflow: hidden;
}
.img-post {
   width: 300px;
  height: 150px;
}
.publicacion-contenido {
  margin: 0px 15px 0px 15px;
}

.publicacion-trabajo:hover .img-post {
  filter: opacity(0.7);
}

/*** Seccion Teconologias Conocidas ***/
.section-tecnologias-conocidas {
  margin-bottom: 10px;
          width: 100%;
}

.section-tecnologias-conocidas h3,
p {
        color: #0a192f;
  font-weight: 600;
}

.section-tecnologias {
            margin: 10px 0px;
  background-color: #f8f9f9;
           padding: 20px 0px;
}

.section-tecnologia {
  display: flex;
      gap: 10px;
}

.section-tecnologias-aprender {
            margin: 20px 0px;
  background-color: #0a192f;
}

.section-tecnologias-aprender2 {
          display: flex;
  justify-content: center;
        flex-wrap: wrap;
}

.titulo-tecnologias-aprender {
  margin: 0px 0px 15px 0px;
}

.titulo-tecnologias-conocidas {
  margin: 10px 0px 20px 0px;
}


.docker {
       width: 135px;
      height: 100%;
  margin-top: 10px;
}
.typescript {
       width: 100px;
      height: 100%;
  margin-top: 10px;
}

.section-especial {
}

.tailwind {
  width: 100px;
}

.span-tailwind {
  margin-top: 16px;
}

.next {
   width: 200px;
  filter: brightness(0) invert(1) !important; /* Brightness esta de mas xq volveria la img negra */
}

.section {
          gap: 40px;
  align-items: center;
}

.section-tecnologias-aprender2 {
  gap: 20px;
}

.tecnologias-utilizadas {
          display: flex;
  justify-content: flex-end;
              gap: 10px;
           margin: 10px 0px 0px 0px;
}

.mensaje-error {
  height: 30px;
}


.redes-personal {
  align-items: center;
    font-size: smaller;
    flex-wrap: wrap;
}

.span-correo {
    font-size: medium;
      display: flex;
  align-items: center;
          gap: 10px;
}

.linkedin-main:hover {
  filter: contrast(40%) sepia(1) hue-rotate(190deg) saturate(1000%) !important;
}

.github-main:hover {
}

footer {
  padding: 20px 0px 30px 0px;
}

.mensaje-enviado {
             color: #082042;
            margin: 10px;
           padding: 20px;
     border-radius: 5px;
  background-color: #0599ee;
           display: flex;
       align-items: center;
}

@media (min-width: 900px) {
  .div-img {
    width: 400px;
    overflow: hidden;
  }
  .img-post {
    width: 400px;
    height: 200px;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 4vw;
  }
  .text-titulo {
    max-width: 450px;
    font-size: medium;
  }
  .main-titulo {
    position: relative;
      bottom: -100px;
  }
  .section-about {
    position: relative;
      bottom: -300px;
  }
  .texto-about {
    font-size: medium;
    max-width: 450px;
  }
  .sobre-mi {
    position: relative;
      bottom: -300px;
  }
  .publicacion-trabajo {
                  display: grid;
    grid-template-columns: 1fr 3fr;
                    width: 90%;
  }

  .section-trabajos {
    margin-top: 60px;
      position: relative;
        bottom: -300px;
  }

  .section-tecnologias-conocidas {
    position: relative;
      bottom: -300px;
  }

  .grid-tecnologias {
    width: 50%;
  }

  .section-tecnologias-aprender {
    position: relative;
      bottom: -300px;
     padding: 20px 0px;
  }
  .contacto {
    position: relative;
      bottom: -300px;
     padding: 20px 0px;
      margin: 20px;
  }
  footer {
    position: relative;
      bottom: -320px;
  }
}
