@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #0A192F;
}

h1, h2, h3, h4 {
    color: #C6D6F5;
}
h1 {
    font-size: 7vw;
}

h2 {
    font-size: 5vw;
}

span {
    color: #C6D6F5;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

 a {
    text-decoration: none;
    color: #d6d8d7;
}



.flex {
    display:flex

}

.flex-center{
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.lista-navbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin: 20px 30px
}

.main-titulo {
 margin-top: 12%;
}

.section-trabajos {
    margin-top: 20px;
    position: relative;
    bottom: -220px;
}


.section-tecnologias-conocidas {
    position: relative;
    bottom: -220px;
}

.section-tecnologias-aprender {
    margin-top: 20px;
    position: relative;
    bottom: -250px;
    background:#0a192f;
    padding: 10px;
}

footer {
    position: relative;
    bottom: -250px;
    height: 50px;
}

.titulo-publicacion-trabajo {
    margin-bottom: 10px;
}
.img-post {
    width: 250px;
    margin-bottom: 5px;
}

.section-articles {
    display: flex;
    gap: 40px;
    margin: 20px 0px 30px 0px;
}

article {
    padding: 10px;
    background-color: rgb(48, 46, 46, 0.5);
    width: 270px;
    border-radius: 5px;
    padding: 20px;
}


.text-titulo {
    width: 500px;
    color: #C6D6F5;
}

.seccion-tecnologias  {
    background-color: white;
    width: 100%;
}

.seccion-tecnologias img {
    width: 120px;
}

.titulo-tecnologias-conocidas {
    color:#0A192F;
    font-size: x-large;
    margin-bottom: 15px;
}
.img-triada {
    width: 330px !important;
}


.github {
    width: 130px !important;
}
.git{
margin-top: 10px;
 height: 110px;
 width: 110px !important;
   
}

.teconologias-aprender {
    background-color: #0A192F;
}

.teconologias-aprender {
 margin: 20px 0px;;
}

.node {
    width: 160px !important;
}
.docker {
    width: 300px;
    margin-top: 10px;
}
.typescript {
    width: 180px;
    margin-top: 10px;
}

.titulo-tecnologias-aprender {
    font-size: x-large;
    margin-bottom: 15px;
}

/*** FORMULARIO CONTACTO ***/

.formulario-contacto {
    color: white;

}
.lista-contacto {
    margin-top: 15px;
}
.lista-contacto li {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 6fr;
    margin-bottom: 15px;
    width: 75%;
    font-size: medium;
    
}

.lista-contacto input{
    padding: 6px;
    font-size: medium;
}

.div-btn-contacto {
    display: flex;
    justify-content:end;
}
.btn-contacto {
    padding: 10px;
    font-size: large;

}