@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #C6D6F5;
    box-sizing: border-box;
}
body {
    background-color: #0A192F;
}



ul {
    list-style: none;
}

a{
    text-decoration: none;
}

 a {
    text-decoration: none;
    color: #d6d8d7;
}

.flex {
    display:flex

}

.flex-center{
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h2 {
  font-size: larger;
}

.lista-navbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin: 20px 0px;
    font-size: smaller;
    width: 90%;
}

.section-about {
    margin: 30px 0px;
}
.texto-about {
    font-size: small;
    max-width: 250px;
}
.main-titulo {
    margin: 15px 0px;
}
.text-titulo {
    font-size: small;
    max-width: 250px;
    margin: 10px 0px;
}

/*** Seccion Proyectos ****/ 
.section-trabajos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-trabajos img {
    width: 100%;
}
.div-trabajos {
    gap: 10px;
    margin: 20px 0px 60px 0px;
    width: 90%;
}

.publicacion-trabajo {
    margin: 15px 0px;
}

.titulo-publicacion-trabajo {
    width: 90%;
}


/*** Seccion Teconologias Conocidas ***/
.section-tecnologias-conocidas {
    margin-bottom: 10px;
    width: 100%;
}

.section-tecnologias-conocidas h3 {
    color:#0A192F;
}

.section-tecnologias  {
    margin: 10px 0px;
    background-color: white;
    padding: 20px 0px;
    max-height: 600px;
    width: 100%;
}

.section-tecnologias img {
    width: 100px;
}

.img-triada {
    width: 300px !important;
}

.section-tecnologias-aprender {
    margin: 20px 0px;
    max-height: 450px;
    background-color: #0A192F;
   }

.docker {
    width: 150px;
    margin-top: 10px;
}
.typescript {
    width: 100px;
    margin-top: 10px;
}

@media (min-width: 800px) {
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 4vw;
    }
    .text-titulo {
        max-width: 450px;
        font-size: medium;
    }
    .section-about{
        position: relative;
        bottom: -300px;
    }
    .texto-about {
        font-size: medium; 
        max-width: 450px;
    }
    .section-trabajos {
        margin-top: 20px;
        position: relative;
        bottom: -300px;
    }
    .publicacion-trabajo {
        padding: 10px;
        background-color: rgb(48, 46, 46, 0.5);
        border-radius: 5px;
        padding: 10px;
        align-items: center;
    }

    .div-trabajos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .section-tecnologias-conocidas {
        position: relative;
        bottom: -300px;
        
    }

    
    .section-tecnologias-aprender {
        position: relative;
        bottom: -300px;
        padding: 20px 0px;
    }
  }